In [1]:
# changing cell width
from IPython.core.display import display, HTML
display(HTML("<style>.container { width:100% ! important; }<style>"))

/var/folders/s8/1hl12tjx0b71pdccf5xwchch0000gn/T/ipykernel_8221/2115606852.py:2: DeprecationWarning: Importing display from IPython.core.display is deprecated since IPython 7.14, please import from IPython display
  from IPython.core.display import display, HTML

-- assessing -> understanding the data

## Data Analysis Process

-- 1. Asking Questions
-- 2. Data Wrangling
         a. Gathering Data
             - i. CSV files 
             - ii. APIs 
             - iii. Web Scraping 
             - iv. Databases 
         b. Assessing Data
         c. Cleaning Data
-- 3. Exploratory Data Analysis
-- 4. Drawing Conclusion
-- 5. Comunicating Results

You have to become Sherlock
Will try to create a framework
Frameworks may vary
The goal is to give you idea

- Data Wrangling
  - Data Gathering
  - Data Accessing
  - Data Cleaning
- Data Accessing
  - In this step, the data is to be understood more deeply. Before implementing   methods to clean it, you will definitely need to have a better idea about what the data is about.

TYPES OF UNCLEAN DATA :--
- 1. DIRTY DATA ( Data with Quality issue ) :--  
    - Dirty Data also known as low quality data. low quality data has content issues.like--
      - a. Duplicated data
      - b. Missing Data
      - c. Corrupt Data
      - d. Inaccurate Data

- 2. MESSY DATA ( Data with tidyness issue ) :--
    - messy data also known as untidy data. untidy has structural issues. tidy data has followig properties :--
      - a. Each variable forms a column
      - b. Each observation forms a row
      - c. Each observational unit forms a table

In [2]:
import pandas as pd
import numpy as np

In [3]:
patients = pd.read_csv('/Users/utpalkant/krish_nayak/data-wrangling-master/patients.csv')
treatments = pd.read_csv('/Users/utpalkant/krish_nayak/data-wrangling-master/treatments.csv')
treatments_cut = pd.read_csv('/Users/utpalkant/krish_nayak/data-wrangling-master/treatments_cut.csv')
adverse_reactions = pd.read_csv('/Users/utpalkant/krish_nayak/data-wrangling-master/adverse_reactions.csv')

##. VIEWING THE DATA

In [4]:
patients.head()

,patient_id,assigned_sex,given_name,surname,address,city,state,zip_code,country,contact,birthdate,weight,height,bmi
0,1,female,Zoe,Wellish,576 Brown Bear Drive,Rancho California,California,92390.0,United States,951-719-9170ZoeWellish@superrito.com,7/10/1976,121.7,66,19.6
1,2,female,Pamela,Hill,2370 University Hill Road,Armstrong,Illinois,61812.0,United States,PamelaSHill@cuvox.de+1 (217) 569-3204,4/3/1967,118.8,66,19.2
2,3,male,Jae,Debord,1493 Poling Farm Road,York,Nebraska,68467.0,United States,402-363-6804JaeMDebord@gustr.com,2/19/1980,177.8,71,24.8
3,4,male,Liêm,Phan,2335 Webster Street,Woodbridge,NJ,7095.0,United States,PhanBaLiem@jourrapide.com+1 (732) 636-8246,7/26/1951,220.9,70,31.7
4,5,male,Tim,Neudorf,1428 Turkey Pen Lane,Dothan,AL,36303.0,United States,334-515-7487TimNeudorf@cuvox.de,2/18/1928,192.3,27,26.1

In [5]:
treatments.head()

,given_name,surname,auralin,novodra,hba1c_start,hba1c_end,hba1c_change
0,veronika,jindrová,41u - 48u,-,7.63,7.20,NaN
1,elliot,richardson,-,40u - 45u,7.56,7.09,0.97
2,yukitaka,takenaka,-,39u - 36u,7.68,7.25,NaN
3,skye,gormanston,33u - 36u,-,7.97,7.62,0.35
4,alissa,montez,-,33u - 29u,7.78,7.46,0.32

In [6]:
treatments_cut.shape

(70, 7)

In [7]:
adverse_reactions.head()

  given_name     surname           adverse_reaction
0      berta  napolitani  injection site discomfort
1       lena        baer               hypoglycemia
2     joseph         day               hypoglycemia
3     flavia  fiorentino                      cough
4    manouck     wubbels          throat irritation

## 1. DATA SUMMARY :

- This Data is about the clinical trail of a drug auralin, which is an oral pill. before that pill doctors used to give novodra, which is an injection, to diabetic patient to cure the diseaes.

- the sample patient taken 350 out of 503. to compare the both insulin and pill reactions. 

- out of 350, 175 were taken injection,novodra, and 175 were taken new drug auralin for 24 weeks

- some patien are encounterd adverse effect on their body which is also recorded
- the one who takes aurlin do not take novodra or vice-versa

## 2. Column Description


- TABLE:
    - Patients
        - patient_id   :- All patient have unique id 
        - assigned_sex :- patient gender 
        - given_name   :- first name of patient
        - surname	   :- last name 
        - address	   :- address of the patient
        - city         :- city name of the patient when they live 
        - state        :- state name of the city of each patient
        - zip_code     :- pin code of their address
        - country      :- country name of each patient  
        - contact      :- cointact of each patient with phone number and mail id
        - birthdate    :- the date of birth of each patient in MM/DD/YY format.
        - weight       :- the weight of each patient in pounds. 1 pound = o.45 kg
        - height       :- the hieght of each patient in inches, where 1foot = 12 inches & 1 meter=39.37 inches.
        - bmi          :- BMI(body mass index) of each patient.the bmi is derived from the weight and height(in meter) of the person.
            - BMI = weight(in kg)/(height)**2.the unit defined as kg per meter square Major adult BMI classifications are underweight (under 18.5 kg/m2),normal weight (18.5 to 24.9), overweight (25 to 29.9), and obese (30 or more)
                              
     - Treatements
         - given_name  :- first name
         - surname     :- last name
         - auralin     :- the oral drug unit of doses at the start and end of the 24 weeks.
         - novodra     :- the  doess of invented injection at the start and end of 24 weeks. 
         - hba1c_start :- hba1c is a blood test that shows what your average blood sugar (glucose) 
                            -level was over the past two to three months.
                            - it shows the average of blood sugar level in your body of past 3 months
         - hba1c_end	:- it shows the average of blood sugar level after 24 weeks
         - hba1c_change  :-  it hase the data of the change in blood sugar level before & after taking drugs. 
                                   -- i.e. the difference between hba1c_strt and hba1c_end
       
     - treatments_cut :- it is the remaing part of the treatement data.
          - i.e. treatements table contain 280 patient data and remaing 70 patients data are in this table.
                
     - adverse_reactions
          - given_name       :- first name
          - surname          :- last name
          - adverse_reaction :- this series contain the reaction after 24 weeks of both the drug consumption.

# 3. Add Aditional imnformation

- IF YOU GET ANYTHING -- IT WILL HELP IN ANALYSIS

## Types of assesment 

-- Assessment :-  founding errors in the data either manually or programatically(using functions like describe(), info()...etc.)

### manual assesment --
- looking at the data thoroughly
### programatic / Automatic Assessment 
- Automatic assessment Uses these function :-
    1. head() and tail()
    2. info()
    3. describe()
    4. sample()
    5. isnull()
    6. duplicate()

##### Steps in ASSESSMENT :- 
- Discover :--- looking for dirty or messy data first manually then programaticlly
- Documentation :--- then write all the errors in data at one place so that at the time of anlys9is it would help

In [8]:
## exporting data to excel file for manual assesment

with pd.ExcelWriter('clinical_trails.xlsx') as writer:
    patients.to_excel(writer,sheet_name='patients')
    treatments.to_excel(writer,sheet_name='treatments')
    treatments_cut.to_excel(writer,sheet_name='treatment_cut')
    adverse_reactions.to_excel(writer,sheet_name='adverse_reactions')

# Issue With Data :--


- DIRTY DATA
    - Table :- patients
        - In state column some row has abbreviation of state eg: New york as NY. ` CONSISTENCY `
        - In zip_code column some row has only 4 digits instead of 5. ` VALIDITY `
        - patient_id = 9 has wrong name Dsvid instead of David. ` ACCURACY `
        - in contct some phone numbers have country code some have don't. although they all ahve same country. ` CONSISTENCY `
        - 12 rows have missing data like address, city, state, zipcode, country,contact. ` COMPLETENESS `
        - birth date column have incorrect data type as object(means string in pandas) instead of dateTime data type}. ` VALIDITY ` 
        - Incorrect data types assigned to columns assigned_sex, birth_date, zip_code. ` VALIDITY ` 
        - duplicate entries by name called jhon. ` VALIDITY `
        - patient_id = 211 and row = 210 has weigth calculated in kg instead of pound. ` VALIDITY `
        - some calculative mistake in patient_id = 5 in hieght weight and bmi column. ` VALIDITY `
        - 
    - treatments & treatments_cut :-
        - given_name and surname is in lower case when comparing to `patient` table data. ` ACCURACY `
        - the one who don't take aurlin or novodra are filles as hyphan(-), which pandas don't take as NaN/Null value. ` VALIDITY `
        - the novodra and aurlin column are in string instead of int. there is no need to represent unit(U) instead of write it as only in numbers. ` validity ` 
        - hba1c some rows has missing values. ` COMPLETENESS `
        - duplicate entries of joseph day in treatments table. ` VALIDITY `
        - hba1c_change column some rows has 9 instead of 4 (the first digit after decimal). ` ACCURACY `
        - 
    - adverse_reactions :-
        - given_name and surname is in lower case when comparing to patient table data. ` Accuracy `
- MESSY DATA
    - Table :- patients
        - Contact column has phone_number and mail_id together instead it has to be in two different coulmns
            - some row has first mailid followed by phone_number 
              and some has phone_number followed by mail_id
    - treatments & treatments_cut :-
        - aurlin and novdra doses column has to be in two different columns respectively as starts_dose and end_dose.
        - Concat both the table as both table have clinical trail data but form two different tables. 
    - adverse_reactions :-
        - this table should not exist. although we can use the reaction column in treatments table(someone who encounter adverse reaction fil their cell that what reaction they face and somone who dont face the reaction leave black cell).

In [9]:
patients.head()

,patient_id,assigned_sex,given_name,surname,address,city,state,zip_code,country,contact,birthdate,weight,height,bmi
0,1,female,Zoe,Wellish,576 Brown Bear Drive,Rancho California,California,92390.0,United States,951-719-9170ZoeWellish@superrito.com,7/10/1976,121.7,66,19.6
1,2,female,Pamela,Hill,2370 University Hill Road,Armstrong,Illinois,61812.0,United States,PamelaSHill@cuvox.de+1 (217) 569-3204,4/3/1967,118.8,66,19.2
2,3,male,Jae,Debord,1493 Poling Farm Road,York,Nebraska,68467.0,United States,402-363-6804JaeMDebord@gustr.com,2/19/1980,177.8,71,24.8
3,4,male,Liêm,Phan,2335 Webster Street,Woodbridge,NJ,7095.0,United States,PhanBaLiem@jourrapide.com+1 (732) 636-8246,7/26/1951,220.9,70,31.7
4,5,male,Tim,Neudorf,1428 Turkey Pen Lane,Dothan,AL,36303.0,United States,334-515-7487TimNeudorf@cuvox.de,2/18/1928,192.3,27,26.1

In [10]:
patients.sample(10)

,patient_id,assigned_sex,given_name,surname,address,city,state,zip_code,country,contact,birthdate,weight,height,bmi
181,182,female,Yumena,Nakayama,4458 Stark Hollow Road,Gypsum,CO,81637.0,United States,YumenaNakayama@gustr.com1 970 754 5843,3/24/1929,130.2,59,26.3
316,317,female,Chân,Bùi,115 Frank Avenue,Amherst,MA,1002.0,United States,413-259-3637BuiQuynhChan@fleckens.hu,10/11/1932,162.1,61,30.6
73,74,female,Žarka,Rap,2661 Russell Street,Foxboro,MA,2035.0,United States,978-969-6753ZarkaRap@superrito.com,12/28/1995,139.3,68,21.2
412,413,male,Finlay,Sheppard,4571 Walnut Hill Drive,Portland,OH,45204.0,United States,FinlaySheppard@fleckens.hu+1 (513) 297-6359,6/16/1948,161.3,70,23.1
17,18,female,Roxanne,Andreyeva,2103 Edington Drive,Smyrna,GA,30082.0,United States,RoxanneAndreyeva@armyspy.com678-829-8578,7/24/1922,129.1,60,25.2
303,304,female,Joe,Edwards,1526 Tully Street,Detroit,MI,48219.0,United States,JoeVEdwards@armyspy.com1 313 589 1746,4/8/1963,149.8,61,28.3
449,450,male,Bjørnar,Nilsen,2166 Tipple Road,Philadelphia,PA,19121.0,United States,BjrnarNilsen@einrot.com+1 (215) 769-7116,4/26/1960,152.5,68,23.2
24,25,male,Jakob,Jakobsen,648 Old Dear Lane,Port Jervis,New York,12771.0,United States,JakobCJakobsen@einrot.com+1 (845) 858-7707,8/1/1985,155.8,67,24.4
42,43,female,Mizuki,Iwata,3434 Holt Street,West Palm Beach,FL,33409.0,United States,MizukiIwata@gustr.com561-357-0702,6/30/1927,199.1,61,37.6
5,6,male,Rafael,Costa,1140 Willis Avenue,Daytona Beach,Florida,32114.0,United States,386-334-5237RafaelCardosoCosta@gustr.com,8/31/1931,183.9,70,26.4

In [11]:
patients.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 503 entries, 0 to 502
Data columns (total 14 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   patient_id    503 non-null    int64
 1   assigned_sex  503 non-null    object
 2   given_name    503 non-null    object
 3   surname       503 non-null    object
 4   address       491 non-null    object
 5   city          491 non-null    object
 6   state         491 non-null    object
 7   zip_code      491 non-null    float64
 8   country       491 non-null    object
 9   contact       491 non-null    object
 10  birthdate     503 non-null    object
 11  weight        503 non-null    float64
 12  height        503 non-null    int64
 13  bmi           503 non-null    float64
dtypes: float64(3), int64(2), object(9)
memory usage: 55.1+ KB

#### Fetching the contact of one patient who participated in clinical trails.
- participant(who participated in clinical trails of auralin and novdra) name take from treatments table and then matched from patients table and thrn fetching his/her contact info

In [12]:
participant_name = treatments[treatments['given_name']=='skye'].iloc[0]['given_name']
participant_name= participant_name.capitalize()
participant_name

'Skye'

In [13]:
if (patients['given_name']== participant_name).any():
    print(patients[patients['given_name']== participant_name].iloc[0]['contact'])

901-484-5225SkyeGormanston@dayrep.com

In [14]:
participant_dict= {}
for name in treatments['given_name']:
    participant_name = treatments[treatments['given_name']==name].iloc[0]['given_name']
    participant_name= participant_name.capitalize()
    if (patients['given_name']== participant_name).any():
        participant_dict[participant_name] = patients[patients['given_name']== participant_name].iloc[0]['contact']

participant_series = pd.Series(participant_dict)
df = pd.DataFrame({'contact': participant_series})
df
# participant_series

                                                contact
Veronika    802-614-0812VeronikaJindrova@jourrapide.com
Elliot         786-234-0038ElliotRichardson@teleworm.us
Yukitaka        619-299-1495YukitakaTakenaka@einrot.com
Skye              901-484-5225SkyeGormanston@dayrep.com
Alissa    AlissaMontezFranco@gustr.com+1 (706) 497-0891
...                                                 ...
Albina           512-738-2609AlbinaZetticci@teleworm.us
John             217-421-0935JohnTeichelmann@dayrep.com
Mathea             228-237-2271MatheaLilleb@fleckens.hu
Vallie               561-826-5683VallieSPrince@cuvox.de
Samúel        973-445-5341SamuelGubrandsson@teleworm.us

[268 rows x 1 columns]

In [15]:
treatments[treatments.duplicated(subset=['given_name','surname'])]

,given_name,surname,auralin,novodra,hba1c_start,hba1c_end,hba1c_change
136,joseph,day,29u - 36u,-,7.7,7.19,NaN

In [16]:
treatments_cut[treatments_cut.duplicated(subset=['given_name','surname'])]

Empty DataFrame
Columns: [given_name, surname, auralin, novodra, hba1c_start, hba1c_end, hba1c_change]
Index: []

In [17]:
adverse_reactions[adverse_reactions.duplicated(subset=['given_name','surname'])]

Empty DataFrame
Columns: [given_name, surname, adverse_reaction]
Index: []

In [18]:
## describe() gives the summary over numerical column only
patients.describe()

       patient_id      zip_code      weight      height         bmi
count  503.000000    491.000000  503.000000  503.000000  503.000000
mean   252.000000  49084.118126  173.434990   66.634195   27.483897
std    145.347859  30265.807442   33.916741    4.411297    5.276438
min      1.000000   1002.000000   48.800000   27.000000   17.100000
25%    126.500000  21920.500000  149.300000   63.000000   23.300000
50%    252.000000  48057.000000  175.300000   67.000000   27.200000
75%    377.500000  75679.000000  199.500000   70.000000   31.750000
max    503.000000  99701.000000  255.900000   79.000000   37.700000

- NOTE :--
    - If there is larger gap between min, 25%, 50%, 75%, and max comparatively. tthen there must be RED FLAG.
    - you should get the deeper insights over the data. and check if there is a calculative mistake or waht?

In [19]:
patients[patients['weight']==48.800000]

,patient_id,assigned_sex,given_name,surname,address,city,state,zip_code,country,contact,birthdate,weight,height,bmi
210,211,female,Camilla,Zaitseva,4689 Briarhill Lane,Wooster,OH,44691.0,United States,330-202-2145CamillaZaitseva@superrito.com,11/26/1938,48.8,63,19.1

In [20]:
patients[patients['height']==27.000000]

,patient_id,assigned_sex,given_name,surname,address,city,state,zip_code,country,contact,birthdate,weight,height,bmi
4,5,male,Tim,Neudorf,1428 Turkey Pen Lane,Dothan,AL,36303.0,United States,334-515-7487TimNeudorf@cuvox.de,2/18/1928,192.3,27,26.1

In [21]:
patients[patients['bmi']==17.100000]

,patient_id,assigned_sex,given_name,surname,address,city,state,zip_code,country,contact,birthdate,weight,height,bmi
48,49,female,Annika,Vaara,4853 University Drive,Lombard,IL,60148.0,United States,AnnikaVaara@rhyta.com312-719-7238,2/20/1996,109.1,67,17.1

In [22]:
treatments.describe()

       hba1c_start   hba1c_end  hba1c_change
count   280.000000  280.000000    171.000000
mean      7.985929    7.589286      0.546023
std       0.568638    0.569672      0.279555
min       7.500000    7.010000      0.200000
25%       7.660000    7.270000      0.340000
50%       7.800000    7.420000      0.380000
75%       7.970000    7.570000      0.920000
max       9.950000    9.580000      0.990000

In [23]:
## seeing why max value is too high
## as we seee here many patients have hba1c_start have values above 9 
treatments.sort_values('hba1c_start')

,given_name,surname,auralin,novodra,hba1c_start,hba1c_end,hba1c_change
270,mika,martinsson,34u - 43u,-,7.50,7.17,0.33
113,kari,laatikainen,39u - 43u,-,7.50,7.11,NaN
126,jowita,wiśniewska,-,22u - 23u,7.50,7.08,0.92
53,nasser,mansour,-,33u - 31u,7.51,7.06,0.95
105,finlay,sheppard,-,31u - 30u,7.51,7.17,0.34
...,...,...,...,...,...,...,...
25,benoît,bonami,-,44u - 43u,9.82,9.40,0.92
171,justyna,kowalczyk,24u - 34u,-,9.84,9.44,NaN
81,robert,wagner,43u - 49u,-,9.84,9.52,0.32
75,mackenzie,mckay,-,44u - 43u,9.87,9.48,0.39
166,annie,allen,36u - 42u,-,9.95,9.58,0.37

In [24]:
treatments.sort_values('hba1c_end')

,given_name,surname,auralin,novodra,hba1c_start,hba1c_end,hba1c_change
39,krisztina,magyar,-,32u - 27u,7.52,7.01,0.51
80,hideki,haraguchi,-,37u - 35u,7.59,7.05,0.54
187,león,reynoso,-,38u - 40u,7.59,7.06,0.53
53,nasser,mansour,-,33u - 31u,7.51,7.06,0.95
86,ananías,enríquez,-,44u - 45u,7.58,7.07,0.51
...,...,...,...,...,...,...,...
192,valur,bjarkason,-,31u - 36u,9.71,9.41,0.30
171,justyna,kowalczyk,24u - 34u,-,9.84,9.44,NaN
75,mackenzie,mckay,-,44u - 43u,9.87,9.48,0.39
81,robert,wagner,43u - 49u,-,9.84,9.52,0.32
166,annie,allen,36u - 42u,-,9.95,9.58,0.37

In [25]:
treatments.sort_values('hba1c_change', na_position='first')

,given_name,surname,auralin,novodra,hba1c_start,hba1c_end,hba1c_change
0,veronika,jindrová,41u - 48u,-,7.63,7.20,NaN
2,yukitaka,takenaka,-,39u - 36u,7.68,7.25,NaN
8,saber,ménard,-,54u - 54u,8.08,7.70,NaN
9,asia,woźniak,30u - 36u,-,7.76,7.37,NaN
10,joseph,day,29u - 36u,-,7.70,7.19,NaN
...,...,...,...,...,...,...,...
49,jackson,addison,-,42u - 42u,7.99,7.51,0.98
17,gina,cain,-,36u - 36u,7.88,7.40,0.98
32,laura,ehrlichmann,-,43u - 40u,7.95,7.46,0.99
245,wu,sung,-,47u - 48u,7.61,7.12,0.99
138,giovana,rocha,-,23u - 21u,7.87,7.38,0.99

In [26]:
treatments_cut.describe()

       hba1c_start  hba1c_end  hba1c_change
count    70.000000  70.000000     42.000000
mean      7.838000   7.443143      0.518810
std       0.423007   0.418706      0.270719
min       7.510000   7.020000      0.280000
25%       7.640000   7.232500      0.340000
50%       7.730000   7.345000      0.370000
75%       7.860000   7.467500      0.907500
max       9.910000   9.460000      0.970000

In [27]:
treatments.sort_values('hba1c_change', na_position='first')

,given_name,surname,auralin,novodra,hba1c_start,hba1c_end,hba1c_change
0,veronika,jindrová,41u - 48u,-,7.63,7.20,NaN
2,yukitaka,takenaka,-,39u - 36u,7.68,7.25,NaN
8,saber,ménard,-,54u - 54u,8.08,7.70,NaN
9,asia,woźniak,30u - 36u,-,7.76,7.37,NaN
10,joseph,day,29u - 36u,-,7.70,7.19,NaN
...,...,...,...,...,...,...,...
49,jackson,addison,-,42u - 42u,7.99,7.51,0.98
17,gina,cain,-,36u - 36u,7.88,7.40,0.98
32,laura,ehrlichmann,-,43u - 40u,7.95,7.46,0.99
245,wu,sung,-,47u - 48u,7.61,7.12,0.99
138,giovana,rocha,-,23u - 21u,7.87,7.38,0.99

In [28]:
adverse_reactions.describe()

       given_name  surname adverse_reaction
count          34       34               34
unique         34       33                6
top         berta  johnson     hypoglycemia
freq            1        2               19

# NOTE :-- Assessing data is an iiterative process

- we have to do above processes again and again to find the problems in data for better analysis

## Dirty Data are of 4 types which is called Data quality dimensions.

# DATA CLEANING

### Data Quality Dimensions

- Completeness -> is data missing?
- Validity -> is data invalid -> negative height -> duplicate patient id
- Accuracy -> data is valid but not accurate -> weight -> 1kg
- Consistency -> both valid and accurate but written differently -> New Youk and NY

 
-` NOTE :-` once you get all the problems in data labled them by above lables. `LABELING done in only dirty data`.


#### Order Of Severity :--
- WHICH DATA IS MORE DENGEROUS
    - Completeness <- Validity <- Accuracy <- Consistency

- WHY WE `LABLED` THE DIRTY DATA ? 
    - because There is order of Data cleaning which has to be followed in data cleaning process. 

#### Data cleaning order :--

- Quality - Completeness`
- Tideness - Messy data
- Quality - Validity
- Quality - Accuracy
- Quality - Consistency

#### Steps Involved in Data cleaning 

- Define --> define the problem's Solution . `in a line/comment` - the way you are going to solve the issue
- code -->  write the code of that solution
- Test --> test the code on you data

`Always make sure you have a copy of your data testing the sloution on copy data. `

In [29]:
## MAKING COPY OF EACH DATA SETS

patients_df=patients.copy()
treatments_df=treatments.copy()
treatments_cut_df=treatments_cut.copy()
adverse_reactions_df=adverse_reactions.copy()

## Define : - 
- Defining the problem's Solution 
    - replace all the missing valus with 'no data'
    - subtract the hba1c_end from hba1c_start and fill the difference in hba1c_change
    - concat both the treatments_df and treatments_cut_df table as they have the data of all 350 participant patients collectively.
    - create a empty column to define type of medicine for each 350 participant instead of having two different columns of auralin and novodra
        - run for loop on auralin column and append the value 'auralin' where auralin column has value and append novodra where auralin column has "-" in the empty list called typee
        - append each value of typee list in empty 'type' column of DF using loop
    - create two column start_dose and end_dose and conver their type 
        - replace thte value "-" with np.nan (gives NaN value/ null value) in both auralin and novodra column
        - combine both auralin and novodra column in a new column called doses 
        - split each value by '-' and put the splitted value in start and end dose column
        - replace the 'u' with '' then convert the column data type from object to int
        - delete the auralin, novodra, doses column. no need for that column now.
    -

In [30]:
patients_df[patients_df['address'].isnull()]      ## the problem

## CODE
patients_df.fillna('no data', inplace=True)

In [31]:
## TEST
patients_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 503 entries, 0 to 502
Data columns (total 14 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   patient_id    503 non-null    int64
 1   assigned_sex  503 non-null    object
 2   given_name    503 non-null    object
 3   surname       503 non-null    object
 4   address       503 non-null    object
 5   city          503 non-null    object
 6   state         503 non-null    object
 7   zip_code      503 non-null    object
 8   country       503 non-null    object
 9   contact       503 non-null    object
 10  birthdate     503 non-null    object
 11  weight        503 non-null    float64
 12  height        503 non-null    int64
 13  bmi           503 non-null    float64
dtypes: float64(2), int64(2), object(10)
memory usage: 55.1+ KB

In [32]:
## CODE
treatments_df['hba1c_change']= treatments_df['hba1c_start']- treatments_df['hba1c_end']
treatments_cut_df['hba1c_change']= treatments_cut_df['hba1c_start']- treatments_cut_df['hba1c_end']

In [33]:
## TEST
treatments_df.info()
treatments_cut_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 280 entries, 0 to 279
Data columns (total 7 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   given_name    280 non-null    object
 1   surname       280 non-null    object
 2   auralin       280 non-null    object
 3   novodra       280 non-null    object
 4   hba1c_start   280 non-null    float64
 5   hba1c_end     280 non-null    float64
 6   hba1c_change  280 non-null    float64
dtypes: float64(3), object(4)
memory usage: 15.4+ KB
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 70 entries, 0 to 69
Data columns (total 7 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   given_name    70 non-null     object
 1   surname       70 non-null     object
 2   auralin       70 non-null     object
 3   novodra       70 non-null     object
 4   hba1c_start   70 non-null     float64
 5   hba1c_end     70 non-null     float64
 6   hba1c_change  70 non-null     float64
dtypes: float64(3), object(4)
memory usage: 4.0+ KB

In [34]:
treatments_df = pd.concat([treatments_df, treatments_cut_df], axis=0)

In [35]:
treatments_df

,given_name,surname,auralin,novodra,hba1c_start,hba1c_end,hba1c_change
0,veronika,jindrová,41u - 48u,-,7.63,7.20,0.43
1,elliot,richardson,-,40u - 45u,7.56,7.09,0.47
2,yukitaka,takenaka,-,39u - 36u,7.68,7.25,0.43
3,skye,gormanston,33u - 36u,-,7.97,7.62,0.35
4,alissa,montez,-,33u - 29u,7.78,7.46,0.32
...,...,...,...,...,...,...,...
65,rovzan,kishiev,32u - 37u,-,7.75,7.41,0.34
66,jakob,jakobsen,-,28u - 26u,7.96,7.51,0.45
67,bernd,schneider,48u - 56u,-,7.74,7.44,0.30
68,berta,napolitani,-,42u - 44u,7.68,7.21,0.47
69,armina,sauvé,36u - 46u,-,7.86,7.40,0.46

### Using For Loop to

In [36]:
temp_treatment_df= treatments_df.copy()
temp_treatment_df

,given_name,surname,auralin,novodra,hba1c_start,hba1c_end,hba1c_change
0,veronika,jindrová,41u - 48u,-,7.63,7.20,0.43
1,elliot,richardson,-,40u - 45u,7.56,7.09,0.47
2,yukitaka,takenaka,-,39u - 36u,7.68,7.25,0.43
3,skye,gormanston,33u - 36u,-,7.97,7.62,0.35
4,alissa,montez,-,33u - 29u,7.78,7.46,0.32
...,...,...,...,...,...,...,...
65,rovzan,kishiev,32u - 37u,-,7.75,7.41,0.34
66,jakob,jakobsen,-,28u - 26u,7.96,7.51,0.45
67,bernd,schneider,48u - 56u,-,7.74,7.44,0.30
68,berta,napolitani,-,42u - 44u,7.68,7.21,0.47
69,armina,sauvé,36u - 46u,-,7.86,7.40,0.46

In [37]:
typee=[]
for name in temp_treatment_df['auralin']:
    if name=='-':
        typee.append('novodra')
    else:
        typee.append('auralin')
typee

['auralin',
 'novodra',
 'novodra',
 'auralin',
 'novodra',
 'novodra',
 'auralin',
 'auralin',
 'novodra',
 'auralin',
 'auralin',
 'novodra',
 'auralin',
 'novodra',
 'auralin',
 'auralin',
 'auralin',
 'novodra',
 'novodra',
 'novodra',
 'novodra',
 'auralin',
 'auralin',
 'novodra',
 'auralin',
 'novodra',
 'novodra',
 'novodra',
 'auralin',
 'auralin',
 'auralin',
 'novodra',
 'novodra',
 'novodra',
 'auralin',
 'novodra',
 'auralin',
 'auralin',
 'auralin',
 'novodra',
 'novodra',
 'novodra',
 'auralin',
 'novodra',
 'auralin',
 'novodra',
 'auralin',
 'novodra',
 'novodra',
 'novodra',
 'novodra',
 'auralin',
 'auralin',
 'novodra',
 'auralin',
 'auralin',
 'novodra',
 'novodra',
 'auralin',
 'auralin',
 'auralin',
 'auralin',
 'novodra',
 'auralin',
 'auralin',
 'novodra',
 'auralin',
 'novodra',
 'novodra',
 'auralin',
 'novodra',
 'novodra',
 'novodra',
 'auralin',
 'novodra',
 'novodra',
 'novodra',
 'novodra',
 'auralin',
 'auralin',
 'novodra',
 'auralin',
 'auralin',
 'novodra',
 'auralin',
 'auralin',
 'novodra',
 'auralin',
 'novodra',
 'auralin',
 'auralin',
 'novodra',
 'novodra',
 'novodra',
 'novodra',
 'auralin',
 'novodra',
 'novodra',
 'auralin',
 'novodra',
 'novodra',
 'novodra',
 'novodra',
 'novodra',
 'auralin',
 'novodra',
 'novodra',
 'novodra',
 'novodra',
 'auralin',
 'novodra',
 'novodra',
 'auralin',
 'auralin',
 'novodra',
 'auralin',
 'auralin',
 'novodra',
 'auralin',
 'auralin',
 'auralin',
 'auralin',
 'auralin',
 'novodra',
 'novodra',
 'auralin',
 'novodra',
 'novodra',
 'novodra',
 'auralin',
 'novodra',
 'novodra',
 'auralin',
 'novodra',
 'novodra',
 'auralin',
 'auralin',
 'novodra',
 'novodra',
 'auralin',
 'novodra',
 'auralin',
 'novodra',
 'auralin',
 'auralin',
 'auralin',
 'auralin',
 'novodra',
 'novodra',
 'auralin',
 'auralin',
 'auralin',
 'auralin',
 'novodra',
 'novodra',
 'novodra',
 'novodra',
 'novodra',
 'novodra',
 'auralin',
 'auralin',
 'auralin',
 'auralin',
 'auralin',
 'auralin',
 'auralin',
 'auralin',
 'auralin',
 'auralin',
 'auralin',
 'auralin',
 'auralin',
 'novodra',
 'auralin',
 'auralin',
 'auralin',
 'auralin',
 'auralin',
 'auralin',
 'auralin',
 'auralin',
 'novodra',
 'novodra',
 'novodra',
 'auralin',
 'novodra',
 'novodra',
 'novodra',
 'novodra',
 'auralin',
 'novodra',
 'novodra',
 'novodra',
 'auralin',
 'novodra',
 'auralin',
 'auralin',
 'novodra',
 'auralin',
 'novodra',
 'auralin',
 'novodra',
 'novodra',
 'novodra',
 'auralin',
 'novodra',
 'novodra',
 'auralin',
 'novodra',
 'auralin',
 'auralin',
 'auralin',
 'auralin',
 'novodra',
 'auralin',
 'novodra',
 'novodra',
 'auralin',
 'novodra',
 'novodra',
 'auralin',
 'novodra',
 'auralin',
 'auralin',
 'auralin',
 'novodra',
 'novodra',
 'auralin',
 'auralin',
 'auralin',
 'novodra',
 'auralin',
 'novodra',
 'auralin',
 'novodra',
 'novodra',
 'auralin',
 'auralin',
 'novodra',
 'novodra',
 'novodra',
 'novodra',
 'novodra',
 'novodra',
 'auralin',
 'novodra',
 'auralin',
 'auralin',
 'auralin',
 'novodra',
 'novodra',
 'novodra',
 'novodra',
 'auralin',
 'novodra',
 'auralin',
 'auralin',
 'novodra',
 'novodra',
 'novodra',
 'novodra',
 'novodra',
 'auralin',
 'auralin',
 'novodra',
 'novodra',
 'auralin',
 'novodra',
 'novodra',
 'novodra',
 'auralin',
 'novodra',
 'novodra',
 'auralin',
 'auralin',
 'auralin',
 'novodra',
 'auralin',
 'auralin',
 'auralin',
 'auralin',
 'auralin',
 'auralin',
 'novodra',
 'auralin',
 'novodra',
 'auralin',
 'auralin',
 'novodra',
 'novodra',
 'novodra',
 'auralin',
 'novodra',
 'auralin',
 'novodra',
 'auralin',
 'auralin',
 'auralin',
 'auralin',
 'auralin',
 'auralin',
 'auralin',
 'novodra',
 'novodra',
 'auralin',
 'auralin',
 'novodra',
 'novodra',
 'novodra',
 'novodra',
 'auralin',
 'auralin',
 'auralin',
 'novodra',
 'novodra',
 'auralin',
 'auralin',
 'novodra',
 'novodra',
 'auralin',
 'novodra',
 'novodra',
 'novodra',
 'auralin',
 'novodra',
 'auralin',
 'auralin',
 'auralin',
 'novodra',
 'novodra',
 'novodra',
 'novodra',
 'auralin',
 'auralin',
 'novodra',
 'novodra',
 'auralin',
 'auralin',
 'novodra',
 'auralin',
 'novodra',
 'auralin',
 'auralin',
 'auralin',
 'novodra',
 'auralin',
 'novodra',
 'auralin',
 'novodra',
 'auralin']

In [38]:
temp_treatment_df['type']=''
temp_treatment_df

,given_name,surname,auralin,novodra,hba1c_start,hba1c_end,hba1c_change,type
0,veronika,jindrová,41u - 48u,-,7.63,7.20,0.43,
1,elliot,richardson,-,40u - 45u,7.56,7.09,0.47,
2,yukitaka,takenaka,-,39u - 36u,7.68,7.25,0.43,
3,skye,gormanston,33u - 36u,-,7.97,7.62,0.35,
4,alissa,montez,-,33u - 29u,7.78,7.46,0.32,
...,...,...,...,...,...,...,...,...
65,rovzan,kishiev,32u - 37u,-,7.75,7.41,0.34,
66,jakob,jakobsen,-,28u - 26u,7.96,7.51,0.45,
67,bernd,schneider,48u - 56u,-,7.74,7.44,0.30,
68,berta,napolitani,-,42u - 44u,7.68,7.21,0.47,
69,armina,sauvé,36u - 46u,-,7.86,7.40,0.46,

In [39]:
for i in range(temp_treatment_df.shape[0]):
    temp_treatment_df['type'][i]=typee[i]
temp_treatment_df

/var/folders/s8/1hl12tjx0b71pdccf5xwchch0000gn/T/ipykernel_8221/1615490706.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  temp_treatment_df['type'][i]=typee[i]
/var/folders/s8/1hl12tjx0b71pdccf5xwchch0000gn/T/ipykernel_8221/1615490706.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  temp_treatment_df['type'][i]=typee[i]
/var/folders/s8/1hl12tjx0b71pdccf5xwchch0000gn/T/ipykernel_8221/1615490706.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  temp_treatment_df['type'][i]=typee[i]
/var/folders/s8/1hl12tjx0b71pdccf5xwchch0000gn/T/ipykernel_8221/1615490706.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  temp_treatment_df['type'][i]=typee[i]
/var/folders/s8/1hl12tjx0b71pdccf5xwchch0000gn/T/ipykernel_8221/1615490706.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  temp_treatment_df['type'][i]=typee[i]
/var/folders/s8/1hl12tjx0b71pdccf5xwchch0000gn/T/ipykernel_8221/1615490706.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  temp_treatment_df['type'][i]=typee[i]
/var/folders/s8/1hl12tjx0b71pdccf5xwchch0000gn/T/ipykernel_8221/1615490706.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  temp_treatment_df['type'][i]=typee[i]
/var/folders/s8/1hl12tjx0b71pdccf5xwchch0000gn/T/ipykernel_8221/1615490706.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  temp_treatment_df['type'][i]=typee[i]
/var/folders/s8/1hl12tjx0b71pdccf5xwchch0000gn/T/ipykernel_8221/1615490706.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  temp_treatment_df['type'][i]=typee[i]
/var/folders/s8/1hl12tjx0b71pdccf5xwchch0000gn/T/ipykernel_8221/1615490706.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  temp_treatment_df['type'][i]=typee[i]
/var/folders/s8/1hl12tjx0b71pdccf5xwchch0000gn/T/ipykernel_8221/1615490706.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  temp_treatment_df['type'][i]=typee[i]
/var/folders/s8/1hl12tjx0b71pdccf5xwchch0000gn/T/ipykernel_8221/1615490706.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  temp_treatment_df['type'][i]=typee[i]
/var/folders/s8/1hl12tjx0b71pdccf5xwchch0000gn/T/ipykernel_8221/1615490706.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  temp_treatment_df['type'][i]=typee[i]
/var/folders/s8/1hl12tjx0b71pdccf5xwchch0000gn/T/ipykernel_8221/1615490706.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  temp_treatment_df['type'][i]=typee[i]
/var/folders/s8/1hl12tjx0b71pdccf5xwchch0000gn/T/ipykernel_8221/1615490706.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  temp_treatment_df['type'][i]=typee[i]
/var/folders/s8/1hl12tjx0b71pdccf5xwchch0000gn/T/ipykernel_8221/1615490706.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  temp_treatment_df['type'][i]=typee[i]
/var/folders/s8/1hl12tjx0b71pdccf5xwchch0000gn/T/ipykernel_8221/1615490706.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  temp_treatment_df['type'][i]=typee[i]
/var/folders/s8/1hl12tjx0b71pdccf5xwchch0000gn/T/ipykernel_8221/1615490706.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  temp_treatment_df['type'][i]=typee[i]
/var/folders/s8/1hl12tjx0b71pdccf5xwchch0000gn/T/ipykernel_8221/1615490706.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  temp_treatment_df['type'][i]=typee[i]
/var/folders/s8/1hl12tjx0b71pdccf5xwchch0000gn/T/ipykernel_8221/1615490706.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  temp_treatment_df['type'][i]=typee[i]
/var/folders/s8/1hl12tjx0b71pdccf5xwchch0000gn/T/ipykernel_8221/1615490706.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  temp_treatment_df['type'][i]=typee[i]
/var/folders/s8/1hl12tjx0b71pdccf5xwchch0000gn/T/ipykernel_8221/1615490706.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  temp_treatment_df['type'][i]=typee[i]
/var/folders/s8/1hl12tjx0b71pdccf5xwchch0000gn/T/ipykernel_8221/1615490706.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  temp_treatment_df['type'][i]=typee[i]
/var/folders/s8/1hl12tjx0b71pdccf5xwchch0000gn/T/ipykernel_8221/1615490706.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  temp_treatment_df['type'][i]=typee[i]
/var/folders/s8/1hl12tjx0b71pdccf5xwchch0000gn/T/ipykernel_8221/1615490706.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  temp_treatment_df['type'][i]=typee[i]
/var/folders/s8/1hl12tjx0b71pdccf5xwchch0000gn/T/ipykernel_8221/1615490706.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  temp_treatment_df['type'][i]=typee[i]
/var/folders/s8/1hl12tjx0b71pdccf5xwchch0000gn/T/ipykernel_8221/1615490706.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  temp_treatment_df['type'][i]=typee[i]
/var/folders/s8/1hl12tjx0b71pdccf5xwchch0000gn/T/ipykernel_8221/1615490706.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  temp_treatment_df['type'][i]=typee[i]
/var/folders/s8/1hl12tjx0b71pdccf5xwchch0000gn/T/ipykernel_8221/1615490706.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  temp_treatment_df['type'][i]=typee[i]
/var/folders/s8/1hl12tjx0b71pdccf5xwchch0000gn/T/ipykernel_8221/1615490706.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  temp_treatment_df['type'][i]=typee[i]
/var/folders/s8/1hl12tjx0b71pdccf5xwchch0000gn/T/ipykernel_8221/1615490706.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  temp_treatment_df['type'][i]=typee[i]
/var/folders/s8/1hl12tjx0b71pdccf5xwchch0000gn/T/ipykernel_8221/1615490706.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  temp_treatment_df['type'][i]=typee[i]
/var/folders/s8/1hl12tjx0b71pdccf5xwchch0000gn/T/ipykernel_8221/1615490706.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  temp_treatment_df['type'][i]=typee[i]
/var/folders/s8/1hl12tjx0b71pdccf5xwchch0000gn/T/ipykernel_8221/1615490706.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  temp_treatment_df['type'][i]=typee[i]
/var/folders/s8/1hl12tjx0b71pdccf5xwchch0000gn/T/ipykernel_8221/1615490706.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  temp_treatment_df['type'][i]=typee[i]
/var/folders/s8/1hl12tjx0b71pdccf5xwchch0000gn/T/ipykernel_8221/1615490706.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  temp_treatment_df['type'][i]=typee[i]
/var/folders/s8/1hl12tjx0b71pdccf5xwchch0000gn/T/ipykernel_8221/1615490706.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  temp_treatment_df['type'][i]=typee[i]
/var/folders/s8/1hl12tjx0b71pdccf5xwchch0000gn/T/ipykernel_8221/1615490706.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  temp_treatment_df['type'][i]=typee[i]
/var/folders/s8/1hl12tjx0b71pdccf5xwchch0000gn/T/ipykernel_8221/1615490706.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  temp_treatment_df['type'][i]=typee[i]
/var/folders/s8/1hl12tjx0b71pdccf5xwchch0000gn/T/ipykernel_8221/1615490706.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  temp_treatment_df['type'][i]=typee[i]
/var/folders/s8/1hl12tjx0b71pdccf5xwchch0000gn/T/ipykernel_8221/1615490706.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  temp_treatment_df['type'][i]=typee[i]
/var/folders/s8/1hl12tjx0b71pdccf5xwchch0000gn/T/ipykernel_8221/1615490706.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  temp_treatment_df['type'][i]=typee[i]
/var/folders/s8/1hl12tjx0b71pdccf5xwchch0000gn/T/ipykernel_8221/1615490706.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  temp_treatment_df['type'][i]=typee[i]
/var/folders/s8/1hl12tjx0b71pdccf5xwchch0000gn/T/ipykernel_8221/1615490706.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  temp_treatment_df['type'][i]=typee[i]
/var/folders/s8/1hl12tjx0b71pdccf5xwchch0000gn/T/ipykernel_8221/1615490706.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  temp_treatment_df['type'][i]=typee[i]
/var/folders/s8/1hl12tjx0b71pdccf5xwchch0000gn/T/ipykernel_8221/1615490706.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  temp_treatment_df['type'][i]=typee[i]
/var/folders/s8/1hl12tjx0b71pdccf5xwchch0000gn/T/ipykernel_8221/1615490706.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  temp_treatment_df['type'][i]=typee[i]
/var/folders/s8/1hl12tjx0b71pdccf5xwchch0000gn/T/ipykernel_8221/1615490706.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  temp_treatment_df['type'][i]=typee[i]
/var/folders/s8/1hl12tjx0b71pdccf5xwchch0000gn/T/ipykernel_8221/1615490706.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  temp_treatment_df['type'][i]=typee[i]
/var/folders/s8/1hl12tjx0b71pdccf5xwchch0000gn/T/ipykernel_8221/1615490706.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  temp_treatment_df['type'][i]=typee[i]
/var/folders/s8/1hl12tjx0b71pdccf5xwchch0000gn/T/ipykernel_8221/1615490706.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  temp_treatment_df['type'][i]=typee[i]
/var/folders/s8/1hl12tjx0b71pdccf5xwchch0000gn/T/ipykernel_8221/1615490706.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  temp_treatment_df['type'][i]=typee[i]
/var/folders/s8/1hl12tjx0b71pdccf5xwchch0000gn/T/ipykernel_8221/1615490706.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  temp_treatment_df['type'][i]=typee[i]
/var/folders/s8/1hl12tjx0b71pdccf5xwchch0000gn/T/ipykernel_8221/1615490706.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  temp_treatment_df['type'][i]=typee[i]
/var/folders/s8/1hl12tjx0b71pdccf5xwchch0000gn/T/ipykernel_8221/1615490706.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  temp_treatment_df['type'][i]=typee[i]
/var/folders/s8/1hl12tjx0b71pdccf5xwchch0000gn/T/ipykernel_8221/1615490706.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  temp_treatment_df['type'][i]=typee[i]
/var/folders/s8/1hl12tjx0b71pdccf5xwchch0000gn/T/ipykernel_8221/1615490706.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

,given_name,surname,auralin,novodra,hba1c_start,hba1c_end,hba1c_change,type
0,veronika,jindrová,41u - 48u,-,7.63,7.20,0.43,auralin
1,elliot,richardson,-,40u - 45u,7.56,7.09,0.47,novodra
2,yukitaka,takenaka,-,39u - 36u,7.68,7.25,0.43,novodra
3,skye,gormanston,33u - 36u,-,7.97,7.62,0.35,auralin
4,alissa,montez,-,33u - 29u,7.78,7.46,0.32,novodra
...,...,...,...,...,...,...,...,...
65,rovzan,kishiev,32u - 37u,-,7.75,7.41,0.34,novodra
66,jakob,jakobsen,-,28u - 26u,7.96,7.51,0.45,auralin
67,bernd,schneider,48u - 56u,-,7.74,7.44,0.30,novodra
68,berta,napolitani,-,42u - 44u,7.68,7.21,0.47,novodra
69,armina,sauvé,36u - 46u,-,7.86,7.40,0.46,auralin

In [40]:
## Replacing from each row of a particular column : it doesn't replace element from value
temp_treatment_df['auralin'].replace('-',np.nan,inplace=True)
temp_treatment_df['novodra'].replace('-',np.nan,inplace=True)

In [41]:
temp_treatment_df['doses']=temp_treatment_df['auralin'].combine_first(temp_treatment_df['novodra'])

In [42]:
temp_treatment_df.drop(['auralin','novodra','doses'],axis=1,inplace=True)

In [ ]:
temp_treatment_df['start_dose']=temp_treatment_df['doses'].str.split('-').str.get(0)
temp_treatment_df['end_dose']=temp_treatment_df['doses'].str.split('-').str.get(1)

In [ ]:
## Replacing elments from the value of each row
temp_treatment_df['start_dose']=temp_treatment_df['start_dose'].str.replace('u','')

In [ ]:
temp_treatment_df['end_dose']=temp_treatment_df['end_dose'].str.replace('u','')

In [ ]:
temp_treatment_df['start_dose']=temp_treatment_df['start_dose'].astype(int)
temp_treatment_df['end_dose']=temp_treatment_df['end_dose'].astype(int)

In [45]:
temp_treatment_df

   given_name     surname  hba1c_start  hba1c_end  hba1c_change     type
0    veronika    jindrová         7.63       7.20          0.43  auralin
1      elliot  richardson         7.56       7.09          0.47  novodra
2    yukitaka    takenaka         7.68       7.25          0.43  novodra
3        skye  gormanston         7.97       7.62          0.35  auralin
4      alissa      montez         7.78       7.46          0.32  novodra
..        ...         ...          ...        ...           ...      ...
65     rovzan     kishiev         7.75       7.41          0.34  novodra
66      jakob    jakobsen         7.96       7.51          0.45  auralin
67      bernd   schneider         7.74       7.44          0.30  novodra
68      berta  napolitani         7.68       7.21          0.47  novodra
69     armina       sauvé         7.86       7.40          0.46  auralin

[350 rows x 6 columns]

## Using melt() method

In [46]:
treatments_df

,given_name,surname,auralin,novodra,hba1c_start,hba1c_end,hba1c_change
0,veronika,jindrová,41u - 48u,-,7.63,7.20,0.43
1,elliot,richardson,-,40u - 45u,7.56,7.09,0.47
2,yukitaka,takenaka,-,39u - 36u,7.68,7.25,0.43
3,skye,gormanston,33u - 36u,-,7.97,7.62,0.35
4,alissa,montez,-,33u - 29u,7.78,7.46,0.32
...,...,...,...,...,...,...,...
65,rovzan,kishiev,32u - 37u,-,7.75,7.41,0.34
66,jakob,jakobsen,-,28u - 26u,7.96,7.51,0.45
67,bernd,schneider,48u - 56u,-,7.74,7.44,0.30
68,berta,napolitani,-,42u - 44u,7.68,7.21,0.47
69,armina,sauvé,36u - 46u,-,7.86,7.40,0.46

In [49]:
## melting the columns in which i want to put the column in a data frame
treatments_df=treatments_df.melt(id_vars=['given_name', 'surname', 'hba1c_start',	'hba1c_end', 'hba1c_change'], var_name='type', value_name='doses')

In [53]:
treatments_df=treatments_df[treatments_df['doses']!= '-']

In [55]:
## splitting the doses values by '-' and put the splitteed values in two different column called start_dose and end_dose
treatments_df['start_dose']=treatments_df['doses'].str.split('-').str.get(0)
treatments_df['end_dose']=treatments_df['doses'].str.split('-').str.get(1)
treatments_df

/var/folders/s8/1hl12tjx0b71pdccf5xwchch0000gn/T/ipykernel_8221/2473373198.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  treatments_df['start_dose']=treatments_df['doses'].str.split('-').str.get(0)
/var/folders/s8/1hl12tjx0b71pdccf5xwchch0000gn/T/ipykernel_8221/2473373198.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  treatments_df['end_dose']=treatments_df['doses'].str.split('-').str.get(1)

,given_name,surname,hba1c_start,hba1c_end,hba1c_change,type,doses,start_dose,end_dose
0,veronika,jindrová,7.63,7.20,0.43,auralin,41u - 48u,41u,48u
3,skye,gormanston,7.97,7.62,0.35,auralin,33u - 36u,33u,36u
6,sophia,haugen,7.65,7.27,0.38,auralin,37u - 42u,37u,42u
7,eddie,archer,7.89,7.55,0.34,auralin,31u - 38u,31u,38u
9,asia,woźniak,7.76,7.37,0.39,auralin,30u - 36u,30u,36u
...,...,...,...,...,...,...,...,...,...
688,christopher,woodward,7.51,7.06,0.45,novodra,55u - 51u,55u,51u
690,maret,sultygov,7.67,7.30,0.37,novodra,26u - 23u,26u,23u
694,lixue,hsueh,9.21,8.80,0.41,novodra,22u - 23u,22u,23u
696,jakob,jakobsen,7.96,7.51,0.45,novodra,28u - 26u,28u,26u
698,berta,napolitani,7.68,7.21,0.47,novodra,42u - 44u,42u,44u

In [57]:
## replacing the 'u' in start & end dose columnvalues
treatments_df['start_dose']=treatments_df['start_dose'].str.replace('u','')
treatments_df['end_dose']=treatments_df['end_dose'].str.replace('u','')
treatments_df

/var/folders/s8/1hl12tjx0b71pdccf5xwchch0000gn/T/ipykernel_8221/4042132636.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  treatments_df['start_dose']=treatments_df['start_dose'].str.replace('u','')
/var/folders/s8/1hl12tjx0b71pdccf5xwchch0000gn/T/ipykernel_8221/4042132636.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  treatments_df['end_dose']=treatments_df['end_dose'].str.replace('u','')

,given_name,surname,hba1c_start,hba1c_end,hba1c_change,type,doses,start_dose,end_dose
0,veronika,jindrová,7.63,7.20,0.43,auralin,41u - 48u,41,48
3,skye,gormanston,7.97,7.62,0.35,auralin,33u - 36u,33,36
6,sophia,haugen,7.65,7.27,0.38,auralin,37u - 42u,37,42
7,eddie,archer,7.89,7.55,0.34,auralin,31u - 38u,31,38
9,asia,woźniak,7.76,7.37,0.39,auralin,30u - 36u,30,36
...,...,...,...,...,...,...,...,...,...
688,christopher,woodward,7.51,7.06,0.45,novodra,55u - 51u,55,51
690,maret,sultygov,7.67,7.30,0.37,novodra,26u - 23u,26,23
694,lixue,hsueh,9.21,8.80,0.41,novodra,22u - 23u,22,23
696,jakob,jakobsen,7.96,7.51,0.45,novodra,28u - 26u,28,26
698,berta,napolitani,7.68,7.21,0.47,novodra,42u - 44u,42,44

In [59]:
## changing data type from object to int of start dose and end dose column
treatments_df['start_dose']=treatments_df['start_dose'].astype(int)
treatments_df['end_dose']=treatments_df['end_dose'].astype(int)
treatments_df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 350 entries, 0 to 698
Data columns (total 9 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   given_name    350 non-null    object
 1   surname       350 non-null    object
 2   hba1c_start   350 non-null    float64
 3   hba1c_end     350 non-null    float64
 4   hba1c_change  350 non-null    float64
 5   type          350 non-null    object
 6   doses         350 non-null    object
 7   start_dose    350 non-null    int64
 8   end_dose      350 non-null    int64
dtypes: float64(3), int64(2), object(4)
memory usage: 27.3+ KB

/var/folders/s8/1hl12tjx0b71pdccf5xwchch0000gn/T/ipykernel_8221/1281237809.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  treatments_df['start_dose']=treatments_df['start_dose'].astype(int)
/var/folders/s8/1hl12tjx0b71pdccf5xwchch0000gn/T/ipykernel_8221/1281237809.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  treatments_df['end_dose']=treatments_df['end_dose'].astype(int)

In [60]:
temp_treatment_df['adverse_reaction']= temp_treatment_df.join(adverse_reactions_df)
temp_treatment_df

ValueError: columns overlap but no suffix specified: Index(['given_name', 'surname'], dtype='object')

SyntaxError: incomplete input (2637129151.py, line 1)